 <div id="register">
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form" action="../user/register" method="post">
                            <h3 class="text-center text-info">register</h3>
                            <div class="form-group">
                                <label for="fname" class="text-info">frist name:</label><br>
                                <input type="text" name="fname" id="fname" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="lname" class="text-info">last name:</label><br>
                                <input type="text" name="lname" id="fname" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-info">email:</label><br>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>

                           

                            <div class="form-group">
          
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                             <div id="register-link" class="text-right">
                                <a href="../user/login" class="text-info">login here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>